@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css');

body,html{
	font-family: var(--mainfont);
	font-size:16px;
}

:root{

	--c1-h: 202;
	--c1-s: 100%;
	--c1-l: 38%;

	--c1: hsl(var(--c1-h),
	 var(--c1-s), 
	var(--c1-l));

	--c1-lighten: 
	color-mix(in srgb, var(--c1) 80%, #ffffff);

	--c1-darken: 
	color-mix(in srgb, var(--c1) 75%, #000000);

	--c1-desate: hsl(
	    var(--c1-h),
	    calc(var(--c1-s) * .5),
	    calc(var(--c1-l) * 1.4)
	);

	--mainfont: 'Inter', sans-serif;
	--subfont: 'Mulish', sans-serif;
	--serif: 'Playfair Display', serif;

}

*{
	box-sizing:border-box;
}

.cw{
	width:100%;
	max-width:1200px;
	margin:0px auto;
}

.btn-s{
	display:block;
	width:100%;
	text-align:center;
	text-decoration: none;
	max-width:max-content;
	padding:.25em 1em;
	transition:.3s background;
	border:none;
}

.btn-s.fw{
	max-width:100%;
}

.btn-s.c1{
	background:var(--c1);
	color:#fff;
}

.btn-s.c1-lighten:hover{
	background:var(--c1-lighten);
}

.btn-s.c1-darken:hover{
	background:var(--c1-darken);
}

.btn-s.c1-desate:hover{
	background:var(--c1-desate);
}

.btn-s.center{
	margin-inline:auto;
}

.btn-wht{
	--white:#fff;
	background:var(--white);
}

.btn-gray{
	--gray:#f2f2f2;
	background:var(--gray);
	color:#000;
}

.btn-gray:hover{
	background:color-mix(in srgb, var(--gray) 85%, #000000);
}

.btn-s.white-text{
	color: #fff;
}

.section{
	padding:4em;
	padding-inline:2em;
}

.grid-row{
	--col:2;
	display:grid;
	grid-template-columns: repeat(var(--col),minmax(0,1fr));
}

.img-block{
	display:block;
	max-width:100%;
	height:auto;
}

.img-block.fw{
	width:100%;
}


/*answerlist*/

.answer-list:not(.style2){
	display:flex;
	flex-wrap:wrap;
	gap:1em;
}

.answer-list:not(.style2) > a.btn-s{
	width: calc((100% / 4) - 1em);
	max-width:100%;
	flex: 1 0 auto;
	padding:1em;
}

.answer-list.style2{
	display:grid;
	grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
	gap:1em;
}

.answer-list.style2 > a.btn-s{
	max-width:100%;
}


/*typography*/

h1,h2,h3,h4,h5,h6,p{
	margin:0;
}

.s-t{
	font-size:2.25em;
	line-height:1.25em;
	font-weight:800;
}

.s-h{
	font-size:1.5em;
	line-height:1.25em;
	font-weight:700;
}

.s-sh{
	font-size:1.25em;
	line-height:1.25em;
	font-weight:600;
}

p{
	font-weight:300;
	line-height:1.5em;
}

.disclaimer{
	font-size:.8em;
	font-weight:300;
	margin-block:1em;
	line-height:1.25em;
}

/*default textbox*/

::-ms-input-placeholder { /* Edge 12-18 */
  color: #aaa;
  font-weight:300;
}

::placeholder {
  color: #aaa;
  font-weight:300;
}



input[type="text"],
select,
input[type="date"]{
	display:block;
	max-width:100%;
	width:100%;
	padding:1rem 1rem;
	font-size:1.2em;
	background:#fff;
	border:1px solid #e9e9e9;
/*	border-radius:.15em;*/
	margin-block:1em;
	text-align:left;
	transition:.05s outline;
}

input[type="date"]{
	text-transform: uppercase;
	text-align: center;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

input:focus,select:focus{
	outline:solid var(--c1) .25em;
	outline-offset:2px;
}

.combobox {
    position: relative;
    isolation: isolate;
}

.combobox::after {
    content: '';
    position: absolute;
    width: 0.5em;
    aspect-ratio: 1/1;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    top: calc(50% - 0.25em);
    right: 1em;
    transform: translateY(-50%) rotate(45deg);
    z-index: 1;
}

.combobox option{
	background:#fff;
}

/* fullwidth */

.fw{
	padding:2em 1em;
	width:100%;
	min-height:100vh;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a7cfdf+0,23538a+100;Blue+3d+%238 */
background: linear-gradient(135deg,  #a7cfdf 0%,#23538a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	position: absolute;
	isolation:isolate;
}

.white-panel{
	width:100%;
	background:#fff;
	box-shadow: 0em 2em 5em 0em rgba(0,0,0,0.4);
-webkit-box-shadow: 0em 2em 5em 0em rgba(0,0,0,0.4);
-moz-box-shadow: 0em 2em 5em 0em rgba(0,0,0,0.4);
}

.white-panel > div{
	padding:1em;
}

.panel-upper{
	background:#f3f3f3;
	border-bottom:1px solid #ccc;
	font-weight:700;
	font-size:1.2em;
}

.flex-list{
	display:grid;
	gap:1em;
}

.flex-list a{
	color:#006bff !important;
}

.flex-list a:hover{
	font-weight:700;
	color:#0066cb;
}

@media(max-width: 1200px){
	body{
		font-size: 14px;
	}
}

@media(max-width:900px){
	body{
		font-size:12px;
	}
}

