@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('ae/stylesheet.css');

@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css');

body,html{
	font-family: var(--mainfont);
	font-size:16px;
	overflow-x:hidden;
}

:root{

	--c1-h: 50;
	--c1-s: 100%;
	--c1-l: 54%;

	--c1: hsl(var(--c1-h),
	 var(--c1-s), 
	var(--c1-l));

	/* light color version*/
	--c1-lighten: hsl(
	    var(--c1-h),
	    var(--c1-s),
	    calc(var(--c1-l) * 1.2)
	);

	/* dark color version*/
	--c1-darken: hsl(
	    var(--c1-h),
	    var(--c1-s),
	    calc(var(--c1-l) * .8)
	);

	--c1-darkest: hsl(
	    var(--c1-h),
	    var(--c1-s),
	    calc(var(--c1-l) * .7)
	);

	--c1-desate: hsl(
	    var(--c1-h),
	    calc(var(--c1-s) * .6),
	    calc(var(--c1-l) * 1.4)
	);

	--c2-h: 26;
	--c2-s: 100%;
	--c2-l: 38%;

	--c2: hsl(var(--c2-h),
	 var(--c2-s), 
	var(--c2-l));

	/* light color version*/
	--c2-lighten: hsl(
	    var(--c2-h),
	    var(--c2-s),
	    calc(var(--c2-l) * 1.2)
	);

	/* dark color version*/
	--c2-darken: hsl(
	    var(--c2-h),
	    var(--c2-s),
	    calc(var(--c2-l) * .8)
	);

	--c2-darkest: hsl(
	    var(--c2-h),
	    var(--c2-s),
	    calc(var(--c2-l) * .7)
	);

	--c2-desate: hsl(
	    var(--c2-h),
	    calc(var(--c2-s) * .6),
	    calc(var(--c2-l) * 1.4)
	);

	--mainfont: 'Amazon Ember', sans-serif;
	--subfont: 'Mulish', sans-serif;
	--serif: 'Playfair Display', serif;

}

*{
	box-sizing:border-box;
}

.cw{
	width:100%;
	max-width:1100px;
	margin:0px auto;
}

.btn-s{
	display:block;
	width:100%;
	text-align:center;
	text-decoration: none;
	max-width:max-content;
	padding:.5em 1.25em;
	transition:.3s all;
	font-weight:400;
	border-radius:.3em;
	font-size:.9em;
}

.btn-s.c1{
	background:var(--c1);
	color:#000;
	border:1px solid var(--c1-darken);
}

.btn-s.c1-lighten:hover{
	background:var(--c1-lighten);
}

.btn-s.c1-darken:hover{
	background:var(--c1-darken);
	border-color:var(--c1-darkest);
}

.btn-s.c1-desate:hover{
	background:var(--c1-desate);
}

.btn-s.center{
	margin-inline:auto;
}

.btn-wht{
	background:#fff;
}

.btn-wt{
	color: #fff;
}

.section{
	padding:4em;
	padding-inline:2em;
}

.grid-row{
	--col:2;
	display:grid;
	grid-template-columns: repeat(var(--col),minmax(0,1fr));
}

/*typography*/

.s-t{
	font-size:2.5em;
	line-height:1.25em;
	font-weight:800;
}

.s-h{
	font-size:1.3em;
	line-height:1.25em;
	font-weight:700;
}

.s-sh{
	font-size:1.15em;
	line-height:1.25em;
	font-weight:600;
}

.p{
	font-weight:300;
	line-height:1.5em;
}

/*topbar*/

.topbar{
	 /* ff 3.6+ */
    background:-moz-linear-gradient(0deg, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(0deg, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(0deg, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F2F2F2', endColorstr='#FFFFFF', GradientType=1 );

    /* ie 10+ */
    background:-ms-linear-gradient(0deg, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(0deg, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%);

    padding:1em;
    border-bottom:1px solid #ddd;
    text-align:center;

}

.tb-title{
	font-weight:500;
	font-size:1.5em;
}

.outerpadding{
	padding:2.5em 2em;
}

/*form*/

.form-step{
	color:var(--c2);
	font-weight:600;
	margin-bottom:1em;
}

.form-step::before{
	content:counter(formstep)'. ';
	margin-right:1em;
}

.collapsible-form{
	counter-reset:formstep;
}

.collapsible-form > div{
	counter-increment: formstep;
	margin-bottom:1em;
}

.collapsible-form > div:not(.active){

	border-bottom:1px solid #ddd;
}



.collapsible-form > div:not(.active) .form-step{
	color:#000;
/*	padding-bottom:1em;*/
}

.form-panel{
	padding:1.5em;
	border:1px solid #ddd;
	border-radius:.5em;
	margin-bottom:.5em;
}

.c-form-input{
	margin-bottom:1.25em;
	display:block;
}

.c-form-label{
	font-weight:500;
	font-size:1em;
	margin-bottom:.25em;
}

.c-form-input select,
.c-form-input input[type="text"]{
	display:block;
	width:100%;
	height:2em;
	padding-inline:.5em;
	margin-bottom:.25em;
	border-radius:.3em;
	border:1px solid #a0a0a0;
}

.c-form-input select{
	padding-left:.3em;
}

.c-form-inline{
	display:grid;
	grid-template-columns: .5fr .5fr .3fr;
	gap:.75em;
}

.form-col{
	display:grid;
	grid-template-rows:1fr;
	transition:.5s;
	transition-delay:.25s;
}

.form-col > div{
	overflow:hidden;
}

.collapsible-form > div:not(.active) .form-col{
	grid-template-rows: 0fr;

}

.collapsible-form > div:not(.active) .form-col > div{
	opacity:.5;
}

.c-form-wrapper{
	max-width:480px;
}

.col-display-input{
	padding-bottom:1em;
	font-size:.9em;
}

.collapsible-form > div.active > .col-display-input{
	display:none;
}

.item-thumb img{
	display:block;
	aspect-ratio:1/1;
	width:100%;
	object-fit: cover;
	border:1px solid #ddd;
}

.item-panel{
	display:grid;
	gap:1em;
	grid-template-columns: 8em minmax(0,1fr);
}

.item-name{
	font-weight:600;
	line-height:1.25em;
}

.form-panel-h{
	font-size:1.25em;
	font-weight:700;
	color:var(--c2);
	margin-bottom:.75em;
}

.form-panel-h .smol{
	color:#666;
	font-size:.65em;
	font-weight:400;
}

.main-row{
	display:grid;
	grid-template-columns: minmax(0,2fr) minmax(0,1fr);
	gap:2em;
}

.order-info{
	font-size:.8em;
}

.order-info .form-panel-h{
	color:#000;
}

.order-info-row{
	display:grid;
	grid-template-columns: repeat(2,minmax(0,1fr));
	gap:1em;
	align-items: flex-end;
	margin-bottom:.2em;
}

.order-info-row.total-before-tax > div{
	padding-top:.75em;
}

.order-info-row > div:last-child{
	text-align:right;
}

.total-before-tax{
	margin-top:.75em;
}

.order-info-row.total-before-tax > div:last-child{
	border-top:1px solid #ddd;
}

.order-info-row.order-total{
	font-size:1.25em;
	font-weight:700;
	color:var(--c2);
	border-top:1px solid #ddd;
	padding-top:.75em;
	margin-top:.75em;
}

@media(max-width: 1200px){
	body{
		font-size: 14px;
	}
}

@media(max-width:900px){
	body{
		font-size:12px;
	}
}

@media(max-width:600px){
	.main-row{
		grid-template-columns: 1fr;
	}
}